
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.Section{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
    background-color: #e5e7e8; /* light grey-blue */

  }
  .BMI-contain{
    display: flex;
    flex-direction: column;
    padding: 40px;
    width: 500px;
    border-radius: 10px;
    background: linear-gradient(135deg, #e4e0e0, #c4ddef);

  }
  h2{
    margin-bottom: 20px;
  }
  input{
    margin: 10px 0 10px 0;
    outline: none;
    width: 100%;
    height: 40px;
 background: linear-gradient(135deg, #dbdada, #f7faff);    border-radius: 2rem;
    text-align: center;
    border: 1px solid black;

  }
  button{
    padding:8px 15px;
    border-radius: 2rem;
    border: none;
  background-color: rgb(77, 77, 226);
    margin: 10px 0 10px 0;
    color:white;
    cursor: pointer;
  }
  button:hover{
    background-color: rgb(59, 59, 128);
  }
  h4{
    margin: 10px 0 10px 0 ;
  }